.roboto{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: thin;
  font-variation-settings:
    "wdth" 100;
}
nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-style: normal;
    text-decoration: none;
    align-self: center;
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
}
header{
    background-color: #f2f3f4;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 250px;
}
a{
    display: inline-block;
    color: #231f20;
    width: fit-content;
    padding: 0 3rem;
    vertical-align: middle;
}
header img{
 max-height: 120px;
    width: 25%;
    padding-left: 1rem;
}
body{
    background-image: url(images/purple-ripples.jpg);
    background-size: cover;
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}
header{
    grid-column: 1/3;
    grid-row: 1/2;
}
.about{
    grid-column: 1/2;
    grid-row: 4/5;
}
.abouttext{
    grid-column: 2/3;
    grid-row: 4/5;
}
.abouttext{
    background-color: #f2f3f4;
    padding-left: 1.5rem;
    margin-left: 2rem;
}
.about{
    background-color: #f2f3f4;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 3rem;
}