.roboto{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-style: normal;
    text-decoration: none;
    align-self: center;
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
}
header{
    background-color: #f2f3f4;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 250px;
}
a{
    display: inline-block;
    color: #231f20;
    width: fit-content;
    padding: 0 3rem;
    vertical-align: middle;
}
header img{
 max-height: 120px;
    width: 25%;
    padding-left: 1rem;
}
body{
    background-image: url(images/purple-ripples.jpg);
    background-size: cover;
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}
header{
    grid-column: 1/3;
    grid-row: 1/2;
}
.about{
    grid-column: 1/2;
    grid-row: 4/5;
}
.abouttext{
    grid-column: 2/3;
    grid-row: 4/5;
}
.abouttext{
    background-color: #f2f3f4;
    padding-left: 1.5rem;
    margin-left: 2rem;
}
.about{
    background-color: #f2f3f4;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 3rem;
}
@media (max-width: 768px) {
  body {
    display: block;
    background-size: cover;
  }
  header {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
  }
  header img {
    width: 40%;          
    max-height: 90px;
    padding: 0;
    margin-bottom: 0.5rem;
  }
   nav {
    width: 100%;     
    font-size: 1.6rem;     
    margin-top: 0.5rem;
  a {
    padding: 0 1rem;
  }
  .about {
    margin: 1rem;
    padding: 1.5rem;
    font-size: 1.3rem;
  }
  .abouttext {
    margin: 1rem;
    padding: 1.5rem;
    font-size: 1.3rem;
  }
  h3 {
    font-size: 2.2rem;
  }
}
