.roboto{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-style: normal;
    text-decoration: none;
    align-self: center;
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
}
header{
    background-color: #f2f3f4;
    display: flex;
    align-items: center;
    height: 250px;
    box-sizing: border-box;
}
a{
    display: inline-block;
    color: #231f20;
    width: fit-content;
    padding: 0 3rem;
    vertical-align: middle;
}
header img{
max-height: 120px;
width: 25%;
    padding-left: 1rem;
}
.contact{
    background-color: #231f20;;
    text-align: center;
    color: #f2f3f4;
    font-size: 1.5rem;
}
body{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 25% 10% 65%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}
header{
    grid-column: 1/3;
    grid-row: 1/2;
}
.contactimg{
    grid-column: 1/2;
    grid-row: 3/4;
}
.contact{
    grid-column: 1/3;
    grid-row: 2/3;
}
.contacttext{
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 3rem;
}
img{
    max-width: 100%;
}
@media (max-width: 768px) {
  body {
    display: block;  
  }
  header {
    height: auto;
    flex-direction: column;
    padding: 1rem;
  }
  header img {
    width: 50%;
    max-height: 110px;
    padding: 0;
    margin-bottom: 1rem;
  }
  nav {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  a {
    padding: 0 .8rem;
  }
  .contact {
    font-size: 1.3rem;
    padding: 1rem;
  }
  .contactimg,
  .contacttext {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  .contacttext {
    font-size: 2rem;
    padding: 0 1rem;
  }
  img {
    max-width: 90%;
    display: block;
    margin: 0.5rem auto;
  }
}
