.roboto{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-style: normal;
    text-decoration: none;
    align-self: center;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
    vertical-align: middle;
}
header{
    background-color: #f2f3f4;
    display: flex;
    align-items: center;
}
a{
    display: inline-block;
    color: #231f20;
    width: fit-content;
    padding: 0 3rem;
}
body{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
header{
    grid-column: 1/4;
    grid-row: 1/2;
}
.left{
    grid-column: 1/2;
    grid-row: 2/3;
}
.container{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
}
.right{
    grid-column: 3/4;
    grid-row: 2/3;
}
.container img{
    display: block;
  height: 75%;
  width: 75%;
  margin: auto;
}
body{
    background-image: url(images/dark-blue-purple.jpg);
    background-size: cover;
}
.left{
    background-color: #f2f3f4;
    text-align: center;
    padding: 11rem 2rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: thin;
    font-weight: 100;
    line-height: 5rem;
}
.right{
    background-color: #f2f3f4;
    text-align: center;
    padding: 11rem 2rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: thin;
    font-weight: 100;
    line-height: 5rem;

}
section img{
    padding: 3rem;
    background-color: #f2f3f4;
}
