.roboto{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-style: normal;
    text-decoration: none;
    align-self: center;
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
}
header{
    background-color: #f2f3f4;
    display: flex;
    align-items: center;
    height: 250px;
    box-sizing: border-box;
}
a{
    display: inline-block;
    color: #231f20;
    width: fit-content;
    padding: 0 3rem;
    vertical-align: middle;
}
header img{
    height: 25%;
    width: 25%;
    padding-left: 1rem;
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr 1fr;
    margin: 0;
}
header{
    grid-column: 1/3;
    grid-row: 1/2;
}
.productsleft{
    grid-column: 1/2;
    grid-row: 2/4;
    padding: 3rem;
    margin: 3rem;
    background-color: #f2f3f4;
}
img{
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
}
div{
    grid-column: 2/3;
    grid-row: 2/4;
    padding: 3rem;
    margin: 3rem;
    object-fit: fill;
    background-color: #f2f3f4;
    align-items: center;
}
.bold{
    align-items: center;
}

