.roboto{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-style: normal;
    text-decoration: none;
    align-self: center;
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
}
header{
    background-color: #f2f3f4;
    display: flex;
    align-items: center;
    height: 250px;
    box-sizing: border-box;
}

a{
    display: inline-block;
    color: #231f20;
    width: fit-content;
    padding: 0 3rem;
    vertical-align: middle;
}
.scienceimg{
    background-color: #f2f3f4;
    padding: 2rem;
}
.img{
    width: auto;
}
.scienceright{
    background-color: #f2f3f4;
    padding: 2rem;
    font-size: large;
}
.science{
    background-color: #231f20;;
    text-align: center;
    color: #f2f3f4;
    font-size: 3rem;
}
body{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto auto 10% 35%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}
header{
    grid-column: 1/3;
    grid-row: 1/2;
}
.img{
    grid-column: 1/3;
    grid-row: 2/3;
}
.scienceimg{
    grid-column: 1/2;
    grid-row: 4/5;
}
.science{
    grid-column: 1/3;
    grid-row: 3/4;
}
.scienceright{
    grid-column: 2/3;
    grid-row: 4/5;
}
img{
    max-width: 100%;
}
.img{
    padding: 3rem;
}
header img{
max-height: 120px;
    width: 25%;
    padding-left: 1rem;
}
@media (max-width: 768px) {
  header{
    flex-wrap: wrap;           
    height: auto;              
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  header img{
    width: 40%;               
    max-height: 80px;
    margin-bottom: 0.5rem;
    padding-left: 0;
  }
  nav{
    width: 100%;             
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }
  a{
    padding: 0 1rem;
  }
  body{
    display: block;
  }
  .img,
  .scienceimg,
  .scienceright{
    padding: 1.5rem;
    margin: 0;
  }
  .scienceright{
    font-size: 1.2rem;
  }
  .science{
    font-size: 2rem;
    padding: 1rem;
  }
  img{
    max-width: 90%;
  }
}
